extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Torre de paris" class="img-fluid")
            .col-md-7
                h1= h1
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam officiis sapiente quasi perferendis neque omnis veniam, tempora ex maiores aperiam necessitatibus aliquam in. Repellendus numquam eum impedit est, cum modi?Reprehenderit accusantium ipsa exercitationem. Tenetur earum obcaecati et quod atque eaque eveniet ipsa sint saepe! Quam voluptatibus sequi vitae ratione perferendis officiis doloribus assumenda vel, in quaerat exercitationem. Velit, doloremque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptate iure officiis fugit, quos ratione et minus mollitia incidunt sapiente odio? Ipsum adipisci labore quo nihil dignissimos quibusdam magnam. Iusto!
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4") 
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ab reprehenderit corrupti unde autem nemo distinctio repudiandae eaque vero. Nam tenetur perferendis pariatur natus, atque omnis ea porro eveniet! Excepturi.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4") 
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ab reprehenderit corrupti unde autem nemo distinctio repudiandae eaque vero. Nam tenetur perferendis pariatur natus, atque omnis ea porro eveniet! Excepturi.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4") 
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ab reprehenderit corrupti unde autem nemo distinctio repudiandae eaque vero. Nam tenetur perferendis pariatur natus, atque omnis ea porro eveniet! Excepturi.                  